* {
  font-family: 'Roboto Mono';
  outline: none;
}

body {
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #3a6186, #89253e);
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
